source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0, netstandard2.1, netstandard2.0

nuget Fable.Elmish.React
nuget Fable.React.DrawingCanvas
nuget Feliz.Bulma
nuget FSharp.Core content: none